:root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.registerForm {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerForm__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerForm__item input, .registerForm__button {
  padding: 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
